#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1,
h5 {
  margin: 10px auto;
}

.green {
  color: green;
  font-family: 'Courier New', Courier, monospace;
}

.blue {
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
  margin: 10px auto;
  will-change: filter;
  transition: filter 300ms;
  color: #646cff;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
